extends index

block content
  section.mobile-Container-list
    h2.mobile-heading Mobiles
    .mobile-list
      .mobile-list-sub
        if Mobile && Mobile.length
          each product in Mobile
            .hero-right.mob-cont
              .hero-up
                .img-box
                  img.product-img.mob(src=`${product.image}`)
                  h2.product-name=product.name
                  ul.product-list
                    li=product.camera
                    li=`${product.rom} GB ROM / ${product.ram} GB RAM`
                    li=`Price ${product.price} Rs` 
                  .buttons
                    a.amz-btn.btn(href=`${product.amz}` target='blank') Amazon
                    a.fk-btn.btn(href=`${product.flipkart}`) Flipkart
              .product-left
                .product-details
                  h2.product-name.name2=product.name
                  ul
                    li=`${product.display} Display`
                    li=product.camera
                    li=`${product.rom} GB ROM / ${product.ram} GB RAM`
                    li Snapdragon 800 processor
                    li=`${product.size}" inch display`
                .prosAndcons
                  .pros
                    h3.product-pros-heading PROS
                    ul
                      li
                        ion-icon.pros-icon(name='checkmark-done')
                        | &nbsp;
                        =product.pros[0]
                      li
                        ion-icon.pros-icon(name='checkmark-done')
                        | &nbsp;
                        =product.pros[1]
                      li
                        ion-icon.pros-icon(name='checkmark-done')
                        | &nbsp;
                        =product.pros[2]
                  .cons
                    h3.product-cons-heading CONS
                    ul
                      li
                        ion-icon.cons-icon(name='close')
                        | &nbsp;
                        =product.cons[0]
                      li
                        ion-icon.cons-icon(name='close')
                        | &nbsp;
                        =product.cons[1]
                      li
                        ion-icon.cons-icon(name='close')
                        | &nbsp;
                        =product.cons[2]
        else
          p No mobile data available.
